.conteiner-data {
  border-radius: 25px;
  max-width: 380px;
  max-height: 500px;
  position: relative;
}

.container-personal-info {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 300px;
  right: 20px;
  left: 20px;
  z-index: 2;
  background-color: rgba(92, 89, 89, 0.5);
}

.info-full-name {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}
